* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1215px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  button {
    outline: none;
    border: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #262626;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input {
    border: none;
    outline: none;
    background: transparent;
  }
  body{
    background-color: white;
  }
  body::-webkit-scrollbar{
    display: none;
  }

/* header */
  .section-header{
    background-color: #74C69D;
    padding:  35px 0 38px 0 ;

  }
  .header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-main-io1{
    display: flex;
    max-width: 187px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .header-main-io2{
    display: flex;
    justify-content: space-between;
    max-width: 391px;
    width: 100%;
    align-items: center;
  }
  .header-main-io1-h1{
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: white;

  }
  .header-main-io2-h1{
font-family:"Work Sans";
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: right;
color: white;
border-bottom: 2px solid transparent;
  }
  .header-main-io2-h1:hover{
border-bottom: 2px solid white;
transition: all 0.5s ease-in-out;

  }
  .header-main-io2-image1{
    display: none;
  }
  .header-main-io1-image1:hover{
    transform: rotate(360deg);
    transition: all 1s 0.01s ease-in-out;
  }
@media (max-width:700px) {
    .header-main-io2{
        display: none;
    }
    .header-main-io2-image1{
        display: block;
    }
    .header-main-io1{
        max-width:129px;
        width: 100%;
        height: 38px;
        
    }
    .header-main-io1-h1{
        font-family: "Work Sans";
font-size: 30px;
font-weight: 500;
line-height: 37.5px;
text-align: left;

    }
    .header-main-io1-image1{
        max-width: 45px;
        width: 100%;
height: 31.06px;
    }
    .section-header{
        padding: 21px 0;
    }
}
/* header end */
/* main */

  .mainio1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
margin: 35px 0 135px 0;  
gap: 78px;  

  }

  .main-sector-io1{
    max-width: 411px;
    width: 100%;
    display:flex ;
    flex-direction: column;
    gap: 16px;
  }
  .main-sector-io1-p1{
   font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74C69D;
  }
  .main-sector-io1-h1{
    font-family: "Crimson Text";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    
  }
  .main-sector-io1-p2{
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    
  }

  .container-io1 {
    max-width: 1267px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .main-sector-io3-button1{
  
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    height: 48px;
    color: white;
    padding:  0 29.5px  0 29.5px;
    max-width: 170px;
    width: 100%;
    background-color: #212529;
    text-align: center;
    border-radius: 5px;
  }
  .main-sector-io3{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-sector-io3-button1:hover{
    
    background-color: white;
    color: #262626;
    box-shadow: 3px 4px 12px 1px #00000040;
    transition: all 0.5s ease-in-out;
  }
.main-sector-io2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 105px;
  align-items: center;
  justify-content: center;
}
.main-factory-io1{
   max-width: 339px;
   text-align: center;
   width: 100%;
   padding: 46px 30px;
   box-shadow: 3px 4px 12px 1px #00000040;
   border-radius: 5px;
}
.sector-io2-deco1{
  display: flex;
  flex-direction: column;
}
.sector-io2-deco1-p2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.deco1-h1-io1{
font-family: "Work Sans";
font-size: 15px;
font-weight: 400;
line-height: 18.75px;
}
.deco1-h1-io2{
  font-family: "Work Sans";
font-size: 40px;
font-weight: 700;
line-height: 50px;
text-align: left;
}
.deco1-h1-io3{
font-family: "Work Sans";
font-size: 15px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
}
.deco1-p1-io1{
font-family: "Work Sans";
font-size: 15px;
font-weight: 400;
line-height: 18.75px;
text-align: center;
margin-top: 10px;
}
.checkbox-main-io1{
  display: flex;
  align-items: center;
  gap: 11px;
}
.main-sector-io2-deco3{
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 52px 0 45px 0;
}
.deco1-h1-io4{
font-family: "Work Sans";
font-size: 15px;
font-weight: 400;
line-height: 18.75px;
text-align: center;
}
@media (max-width:750px) {
  .main-sector-io2{
    gap: 50px;
  }
  .main-sector-io2{
   
    margin: 0 0 68px 0 ;
  }
  .mainio1{
    margin: 46px 0 0 0 ;
    gap: 46px;
  }
  .main-sector-io1-h1{
font-size: 24px;
font-weight: 700;
line-height: 30px;
text-align: center;

  }
}













/* footer */
.section-footer{
    background-color: #74C69D;
    color: white;
  }
  .footer-main{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 51px 0 49px 0;
  position: relative;
  }
  .footer-immages{
    display: flex;
    max-width: 242.52px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .footer-deco{
    max-width: 326px;
    width: 100%;
  }
  .deco1-h1{
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: right;
    
  }
  .footer-immages{
    height: 30px;
    align-items: end;
  }
  .footer-imag-io1:hover{
   padding-bottom: 5px;
   transition: all 0.1s ease-in-out;
  
  }
  .footer-imag-io2:hover{
    padding-bottom: 5px;
    transition: all 0.1s ease-in-out;
   }
   .footer-imag-io3:hover{
    padding-bottom: 5px;
   transition: all 0.1s ease-in-out;
   }
   .footer-imag-io4:hover{
    padding-bottom: 5px;
   transition: all 0.1s ease-in-out;
   }
   .footer-imag-io5:hover{
    padding-bottom: 5px;
   transition: all 0.1s ease-in-out;
   }
   .footer-imag-io6:hover{
    padding-bottom: 5px;
   transition: all 0.1s ease-in-out;
   }
   .footer-imag-io7:hover{
    padding-bottom: 5px;
    transition: all 0.1s ease-in-out;
   }
  @media (max-width:646px) {
    .footer-main{
        flex-direction: column;
        gap: 20px;
        padding: 31px 0;
    }
  }